@use 'base/variables' as v;
@use 'base/mixins' as m;

.nuestro-menu {
    background-color: v.$primario;
    padding: 15rem 5rem 20rem 5rem;

    @include m.tablet {
        padding: 15rem 0 20rem 0;
    }
}